<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Coder</title>
</head>
<body>
    
    <h1>Bienvenido a mi web</h1>

    <p>Este es mi pequeño proyecto</p>
    <p>Hola {{nombre}} {{apellido}} y tengo {{Edad}} </p>
    <p>Fecha {{fecha}}</p>
    <img 
    style="max-width:300px;"
    src="https://www.pexels.com/es-es/foto/fondo-negro-con-captura-de-pantalla-de-superposicion-de-texto-270404/" 
    alt=""
    />

    <p>chau chau </p>

    <script>
        alert("Hola mundo")
        prompt("Dame tu nombre")
    </script>
</body>
</html>